.content-cards-products {
    margin-bottom: 50px;
    /* width: 100%; */
    /* min-height: auto; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
