.content-form-login {
  min-height: 35.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.form-login {
  background-color: #fff;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 0.5rem;
}

.p-form-login {
  margin-top: 30px;
  font-size: 18px;
}

.input-form-login {
  width: 25rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.button-form-login {
  width: 25rem;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 30px;
}

.button-form-login:hover {
  background-color: #3e8e41;
}

