.content-contact {
    display: flex;
    width: 100%;
    min-height: 78vh;
}

.wrap-contact {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.wrap-contact h1 {
    font-weight: bolder;
    font-size: 25px;
}

.form-contact {
    width: 270px;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.form-contact input {
    width: 90%;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #c4f0f0;
    border-radius: 8px;
    outline: none;
}

.form-contact textarea {
    width: 90%;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #c4f0f0;
    border-radius: 8px;
    outline: none;
}

.btn-secondary {
    width: 90%;
    font-size: 14px;
    background-color: #18CE08;
    border: none;
}

.btn-secondary:hover {
    background-color: #18CE08aa;
}

.img-contact {
    width: 50%;
}

.form-img-chocolate {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-chocolate {
    width: 350px;
    position: relative;
}

@media (max-width: 740px) {
    .content-contact {
        display: block;
    }

    .wrap-contact {
        margin-top: 10px;
    }

    .img-chocolate {
        width: 200px;
        padding: 20px;
    }
}