.grid-container-carousel-products {
    width: 100%;
}

.slide-products {
    /* display: flex; */
}

.card-product {
    width: 100%;
}

.card-product-item {
    width: 100rem;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    outline: 0;
    opacity: .8;
}

.carousel-control-prev-icon {
    background-color: rgb(71, 70, 70);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.carousel-control-next-icon {
    background-color: rgb(71, 70, 70);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}